<!DOCTYPE html>
<html>
    <head>
        <title>Hello Express App</title>
        <!-- Static assets can go in here! -->
        <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css"> -->
    </head>
    <body>
        {{{ body }}}
        <!-- The body tag is what our templates will be replacing. -->
    </body>
</html>